<web-app>
	<display-name>welcome to TestApp</display-name>
<!--	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Plan</servlet-name>
		<servlet-class>PlanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Plan</servlet-name>
		<url-pattern>/Plan</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>HttpLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>HttpAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
		
</web-app>
